alembic==1.13.1
asttokens==2.4.1
attrs==23.2.0
Flask==3.0.3
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
gunicorn==22.0.0
Jinja2==3.1.4
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
python-dateutil==1.5
referencing==0.35.1
requests==2.32.2
SQLAlchemy==2.0.30